<html lang-="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>CloudCanvas</h1>
        <h4><%= folder_name %></h4>
        <ul>
            <% for (let i = 0; i < files.length; i++) { %>
                <li>
                    <h4>
                        <a href=<%= files[i].url %>><%= files[i].file_name %></a>
                    </h4>
                </li>
            <% } %>
        </ul>
    </body>
</html>